@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* color palette from Group 7, Norbo-Robotics */
:root {
  /* Base Colours & Neutrals */
  --nr-white: #ffffff;
  --nr-grey-soft: #f5f5f5;
  --nr-grey-contrast: #E9EBF8;

  /* Brand Colors */
  --nr-brand-bluemana-500: #62C3E9;
  --nr-brand-bluemana-700: #72C9EC;
  --nr-brand-bluevogue-500: #02215C;
  --nr-brand-spanishblue-500: #006FB6;
  --nr-gradient-bg: linear-gradient(180deg, rgba(98, 195, 233, 0.5) 0%, rgba(98, 195, 233, 0) 100%);

  /* Typography Colours*/
  --nr-font-color-default: #000;
  --nr-font-color-soft: rgba(2, 17, 46, 0.5);
  --nr-brand-font-active: #fff;

  /* Contrast Colours */
  --nr-inactive: #dedede;

  /* Typography Settings */
  --nr-font-default: Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* semantic color variables for this project */
:root {
  /* Base Colours & Neutrals */
  --color-background: var(--nr-white);
  --color-background-soft: var(--nr-grey-soft);
  --color-background-contrast: var(--nr-grey-contrast);

  --color-border: var(--nr-grey-contrast);

  --color-heading: var(--nr-font-color-default);
  --color-text: var(--nr-font-color-default);
  --color-text-soft: var(--nr-font-color-soft);
  
  --inactive-default: var(--nr-inactive);

  /* Typography */
  --font-default: var(--nr-font-default);

  /* CTA Brand Colours */
  --color-button-brand-default: var(--nr-brand-bluemana-500);
  --color-button-brand-active: var(--nr-brand-bluevogue-500);
  --color-button-brand-hover: var(--nr-brand-bluemana-700);

/* Spacing defaults */
  --footer-gap: 160px;
  --block-gap: 80px;
  --content-gap: 60px;
}


/* Browser/OS normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* Body defaults */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-default);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
